body{
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
    width: 98%;
    padding: 0px;
    margin: auto;
    max-width: 600px;
}
#toparea{
    background-color: #2196F3;
    width: 100%;
    height: 60px;
    color: white;
    position: fixed;
    top: 0;
    max-width: 600px;
}
#topin{
    width: 98%;
    height: inherit;
    margin: auto;
    max-width: 600px;
}
#leftarrow{
    position: absolute;
    height: 40px;
    padding-top: 10px;
    padding-left: 2%;
    float: left;
}
#topheading{
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#marginer{
    margin: 0;
    padding: 0;
    height: 60px;
}
#container2{
    width: 94%;
    margin: auto;
    padding: 0px;
}
#imgs{
    width: 100%;
    border-radius: 10px;
    margin: auto;
}
h3{
    background-color: rgba(0, 255, 0, 0.3)
}
#table1{
    margin-left: 1%;
    margin-top: 1%;
    width: 100%; 
}